* {
  -os-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  perspective: 400px;
  outline: none !important;
  text-transform: capitalize !important;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
}

/*start varibles elements to this site*/
/*start site elements color*/
/*end site elements color*/
/*end frame work to this site*/
footer .container h2, .how_we_do_it .container h2, .team .container h2, .client .container h2, .Achievements .container h2, section.section_anim .about .container .row .col-lg-5 .main h2, section.section_anim .fetures .container .title {
  font-weight: bold;
  display: inline-block;
}
footer .container h2::after, .how_we_do_it .container h2::after, .team .container h2::after, .client .container h2::after, .Achievements .container h2::after, section.section_anim .about .container .row .col-lg-5 .main h2::after, section.section_anim .fetures .container .title::after {
  position: absolute;
  content: "";
  bottom: 2px;
  left: 0;
  right: 0;
  height: 15px;
  border-radius: 10px 5px;
  background-color: #ff5500;
  z-index: -1;
}

.home {
  overflow: hidden;
  position: relative;
}
.home .main {
  position: relative;
  background-color: #00FFC6;
  overflow: hidden;
}
.home .main .flout-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home .main .flout-animation span {
  position: absolute;
  width: 60px;
  height: 60px;
  opacity: 0.3;
  animation: Random_move 20s ease-in-out infinite alternate;
  -webkit-animation: Random_move 20s ease-in-out infinite alternate;
}
.home .main .flout-animation span.one {
  background: #30AADD;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  bottom: 0 !important;
  right: 0;
  top: 100%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  animation-direction: alternate-reverse;
}
.home .main .flout-animation span.tow {
  background: #ff5500;
  top: 0;
  left: 0;
  opacity: 0.1;
  -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
          clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
.home .main .flout-animation span.three {
  background-color: #ffffff;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  animation-direction: alternate-reverse;
}
@-webkit-keyframes Random_move {
  20% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    top: 100%;
    left: 40%;
  }
  40% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    top: 30%;
    left: 80%;
  }
  60% {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    top: 10%;
    right: 10%;
  }
  80% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    top: 90%;
    left: 0%;
  }
  100% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    top: 0;
    left: 50;
  }
}
@keyframes Random_move {
  20% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    top: 100%;
    left: 40%;
  }
  40% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    top: 30%;
    left: 80%;
  }
  60% {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    top: 10%;
    right: 10%;
  }
  80% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    top: 90%;
    left: 0%;
  }
  100% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    top: 0;
    left: 50;
  }
}
.home .main .container .row {
  overflow: hidden;
  z-index: 10 !important;
  position: relative;
}
.home .main .container .row .col-md-7 .main-con {
  width: 90%;
  text-align: left;
}
.home .main .container .row .col-md-7 .main-con h1 {
  color: #ffffff;
}
.home .main .container .row .col-md-7 .main-con p {
  color: rgba(255, 255, 255, 0.8);
}
.home .main .container .row .col-md-7 .main-con button {
  margin: 0 5px;
  height: 46px;
}
.home .main .container .row .col-md-7 .main-con button a {
  text-decoration: none;
  color: #ffffff;
}
.home .main .container .row .col-md-7 .main-con button.style {
  background-color: transparent;
  border: dashed #ffffff;
}
.home .main .container .row .col-md-5 img.home_img {
  height: 400px;
}
@media (max-width: 991px) {
  .home .main .container .row .col-md-5 img.home_img {
    height: 300px;
  }
}
.home .main .container .row .col-lg-8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.home .main .container .row .col-lg-8 .main_flex {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.home .main .container .row .col-lg-8 .main_flex .style {
  -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
          clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  background-color: rgba(255, 255, 255, 0.4);
  width: 150px;
  height: 150px;
  text-align: center;
  display: grid;
  place-items: center;
  margin: 0 5px;
  transition: all 0.4s ease-in-out;
}
.home .main .container .row .col-lg-8 .main_flex .style:hover {
  background-color: rgba(48, 170, 221, 0.6);
}
.home .main .container .row .col-lg-8 .main_flex .style a {
  text-decoration: none;
  color: #ffffff;
}
.home .main .container .row .col-lg-4 {
  overflow: hidden;
}
.home .main .container .row .col-lg-4 .left-logo {
  margin: 0 auto;
  position: relative;
  max-width: 210px;
}
.home .main .container .row .col-lg-4 .left-logo span {
  color: #ffffff;
  text-align: right;
  display: block;
}
.home .main .container .row .col-lg-4 .left-logo h3 {
  color: #ffffff;
}
.home .main .container .row .col-lg-4 .left-logo span.end {
  text-align: left;
}
.home .chape {
  overflow: hidden;
  height: 70px;
  position: relative;
}
.home .chape::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw;
  background-size: 101% 69px;
  background-position: 50% 0%;
  transform: rotateY(180deg);
  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 73"><g fill="%2300FFC6"><path d="M2000 0v45l-10 6a37 37 0 01-30 1c-14-5-23-18-37-22-12-3-24 1-35 7l-30 19c-32 18-57-2-79-26-8-8-29-1-35-20-7 19-27 12-35 20-22 24-47 44-79 26-11-5-20-13-31-19a57 57 0 00-34-7l-31 4c-12 1-28-12-35-21-7 9-23 22-34 21l-31-4a57 57 0 00-35 7c-10 6-20 14-31 19-31 18-56-2-79-26-8-8-28-1-34-20-7 19-27 12-35 21-23 23-48 43-79 25-11-5-20-13-31-19s-23-10-35-7c-13 4-23 17-36 22a37 37 0 01-31-1l-8-5-8 5a37 37 0 01-30 1c-14-5-23-18-37-22-12-3-24 1-35 7l-30 19c-32 18-57-2-79-26-8-8-29-1-35-20-6 19-27 12-35 20-22 24-47 44-79 26l-31-19a57 57 0 00-34-7l-31 4c-12 1-28-12-35-21-7 9-23 22-34 21l-31-4a57 57 0 00-35 7c-10 6-20 14-30 19-32 18-57-2-80-26-8-8-28-1-34-20-7 19-27 12-35 21-22 23-47 43-79 25-11-5-20-13-31-19s-23-10-34-7c-14 4-24 17-37 22a37 37 0 01-31-1L0 45V0z" opacity=".75"/><path d="M2000 0v30a106 106 0 01-19-3h-1c-12-3-25-8-36-1-7 4-11 13-17 19a20 20 0 01-5 4c-8 3-17 0-25-2-6-2-12-3-18-2a35 35 0 00-9 4l-5 3c-5 3-10 4-15 2s-7-7-10-11a40 40 0 00-4-8c-7-8-18-9-28-8l-22 2a34 34 0 01-8-1 30 30 0 01-16-12 30 30 0 01-16 12h-18l-12-1c-9-1-21 0-27 8-3 3-5 8-7 12-2 3-4 6-7 7-5 2-11 1-15-2l-12-6a22 22 0 00-3-1c-8-2-17 2-26 4-5 2-11 2-16 0-4-2-6-5-9-8-4-5-8-12-14-15-11-7-25-2-37 1l-8 2a109 109 0 01-24 1 109 109 0 01-33-3c-13-3-27-8-37-1-7 4-11 12-16 18a21 21 0 01-7 5c-7 3-15 1-23-1-6-2-13-4-19-3a31 31 0 00-8 4l-7 3c-4 3-10 4-15 2-4-2-7-6-9-10l-5-9c-6-8-18-9-28-8l-19 2a37 37 0 01-10-1 30 30 0 01-16-12 30 30 0 01-17 12l-16 1-13-2c-10-1-21 0-28 8-3 3-4 8-7 12-1 3-3 6-7 7-5 2-10 1-15-2l-11-5a24 24 0 00-3-2c-8-1-17 2-25 4-6 1-12 2-18 0a24 24 0 01-8-7c-5-6-8-13-14-16-11-7-25-2-38 1l-6 1a108 108 0 01-27 2 109 109 0 01-30-2l-4-1c-12-3-26-8-37-1-6 4-10 11-15 17a23 23 0 01-7 6c-7 3-14 1-20-1-8-2-15-4-23-3a26 26 0 00-5 2l-9 5c-5 3-11 4-15 2s-6-5-8-9l-6-10c-7-8-18-9-28-8l-16 2a41 41 0 01-14-1 30 30 0 01-16-12 30 30 0 01-16 12 40 40 0 01-12 1l-18-2c-9-1-21 0-27 8-3 3-4 6-6 10s-4 7-8 9c-5 2-11 1-15-2l-8-4a28 28 0 00-7-3c-7-1-14 1-21 3s-14 4-21 1a22 22 0 01-8-6c-5-6-8-13-15-17-11-7-25-2-37 1l-3 1a110 110 0 01-27 2 110 110 0 01-29-3h-2c-12-3-26-8-37-1-7 4-10 12-16 17a22 22 0 01-7 6c-7 3-14 1-21-1s-14-4-21-3a29 29 0 00-7 3l-7 4c-5 3-11 4-16 2-4-2-6-5-8-10l-6-9c-6-8-17-9-27-8l-18 2a38 38 0 01-12-1 30 30 0 01-16-12 30 30 0 01-16 12 43 43 0 01-15 1l-15-2c-10-1-21 0-27 8l-7 11-7 8c-5 2-11 1-16-2l-9-5a25 25 0 00-5-2c-8-1-15 1-23 4-7 1-13 3-19 0a23 23 0 01-8-7c-5-5-9-13-15-16-11-7-25-2-37 1l-5 1a108 108 0 01-30 1V0z" opacity=".5"/><path d="M2000 0v14c-6 0-11 2-16 6a48 48 0 00-4 7 46 46 0 01-3 3c-3 4-6 6-10 6l-12-3c-4 0-6 4-8 7s-5 7-8 8c-4 1-8-1-12-3l-2-2a23 23 0 00-14-2 29 29 0 00-14 6l-3 2-12 15-12-15c-5-4-11-7-17-8a23 23 0 00-13 2c-5 3-10 7-15 5-3-1-6-5-8-8s-4-7-8-7-8 3-11 3c-5 0-8-2-11-6l-1-1-6-9c-5-5-11-6-18-6a26 26 0 01-5-1 27 27 0 01-6 1c-6 0-13 1-17 6l-6 8-2 2c-2 4-6 6-10 6s-7-3-11-3-7 4-9 7-4 7-8 8a10 10 0 01-6-1l-8-4a23 23 0 00-13-2 29 29 0 00-13 5 38 38 0 00-4 3l-13 15-12-15c-5-4-10-7-17-8a23 23 0 00-13 2c-5 3-9 7-14 5-4-1-6-4-8-8s-5-7-9-7-7 3-11 3-8-2-11-6l-1-1-6-9c-5-5-11-6-18-6a26 26 0 01-5-1 27 27 0 01-6 1c-6 0-13 1-17 6a52 52 0 00-5 7l-2 3c-3 4-7 6-11 6s-7-3-11-3-7 4-9 7-4 7-8 8-8-2-12-4l-2-1a23 23 0 00-13-2 30 30 0 00-15 7l-2 1-12 15-13-15c-5-4-10-7-17-8a23 23 0 00-13 2l-1 1c-4 2-8 5-13 4-4-1-6-5-8-8s-5-7-9-7-7 3-11 3-8-2-10-6l-1-1-7-9c-4-5-11-6-17-6a26 26 0 01-6-1 27 27 0 01-5 1c-7 0-13 1-18 6l-6 9-1 1c-3 4-7 6-11 6-3 0-7-3-11-3s-6 4-8 7-5 7-8 8-6 0-9-1l-6-4a23 23 0 00-13-2 29 29 0 00-14 6 41 41 0 00-3 2l-12 15-12-15h-1c-4-4-10-7-16-8a23 23 0 00-10 1 22 22 0 00-4 1c-4 3-9 7-14 5-3-1-6-5-8-8s-5-7-8-7l-11 3c-5 0-8-2-11-6l-2-2a70 70 0 00-5-8c-5-5-11-6-18-6a26 26 0 01-5-1 27 27 0 01-6 1c-7 0-13 1-18 6a62 62 0 00-5 8l-2 2c-2 4-6 6-10 6s-8-3-11-3-7 4-9 7-4 7-8 8c-5 2-10-2-14-5h-2a23 23 0 00-12-2 30 30 0 00-17 8l-12 15-12-15-2-2a30 30 0 00-15-6 23 23 0 00-13 2l-4 2c-4 2-7 4-10 3-4-1-6-5-9-8s-4-7-8-7-7 3-11 3-8-2-11-6l-1-1-6-9c-5-5-11-6-18-6a26 26 0 01-5-1 27 27 0 01-6 1c-6 0-13 1-17 6l-6 9-2 1c-2 4-6 6-10 6s-7-3-11-3-7 4-9 7-4 7-8 8-7-1-11-3l-3-2a23 23 0 00-13-2 30 30 0 00-16 7l-1 1-12 15-13-15-1-1c-5-4-10-7-16-7a23 23 0 00-13 2c-5 3-9 7-14 5-4-1-6-4-8-8s-5-7-9-7-7 3-11 3-8-2-10-6l-3-2a58 58 0 00-5-8c-4-5-11-6-17-6a26 26 0 01-6-1 27 27 0 01-5 1c-7 0-13 1-18 6a56 56 0 00-5 7l-2 3c-3 4-7 6-11 6s-7-3-11-3-6 4-8 7-5 7-9 8-9-2-14-5a23 23 0 00-13-2 30 30 0 00-15 7l-2 1-12 15-12-15-2-1c-4-4-10-7-15-7a23 23 0 00-14 2l-2 1c-4 3-8 5-12 4s-6-5-8-8-5-7-9-7-7 3-11 3-8-2-10-6l-1-1-6-9c-5-5-11-6-18-6a26 26 0 01-6-1 27 27 0 01-5 1c-7 0-13 1-18 6l-6 9-1 1c-3 4-6 6-10 6l-12-3c-4 0-6 4-8 7s-4 7-8 8-7 0-10-2l-4-3a23 23 0 00-14-2 29 29 0 00-14 6l-3 2-12 15-12-15h-1c-5-4-10-7-16-8a23 23 0 00-11 1l-2 1c-5 2-10 6-15 5-3-1-6-5-8-8s-4-7-8-7-8 3-11 3c-4 0-8-2-11-6l-2-2a65 65 0 00-5-8c-5-5-11-6-18-6l-7-1V0z"/><circle cx="57.7" cy="59.4" r="8.1"/><circle cx="81.7" cy="64.2" r="4.9"/><circle cx="253.4" cy="47.7" r="12.9"/><circle cx="285.3" cy="54.8" r="6"/><circle cx="1257.5" cy="47.7" r="12.9"/><circle cx="1289.4" cy="54.8" r="6"/><circle cx="751.1" cy="47.7" r="12.9"/><circle cx="783.1" cy="54.8" r="6"/><circle cx="594.6" cy="63" r="6"/><circle cx="501.9" cy="49.8" r="10.9"/><circle cx="475.1" cy="55.8" r="5"/><circle cx="1089.2" cy="61.6" r="10.9"/><circle cx="1062.4" cy="67.5" r="5"/><circle cx="1715.4" cy="61.6" r="10.9"/><circle cx="1688.6" cy="67.5" r="5"/><circle cx="1496.2" cy="50.7" r="15.7"/><circle cx="1758.5" cy="43.4" r="11.4"/><circle cx="1901.9" cy="61.6" r="5.9"/><circle cx="1928.2" cy="61.6" r="8.5"/></g></svg>');
}
@media (min-width: 2100px) {
  .home .chape .chape::before {
    background-size: 101% calc(2vw + 69px);
  }
}

section.section_anim {
  overflow: hidden;
  position: relative;
}
section.section_anim .animation_scale {
  -webkit-clip-path: circle(10px at 50% 50%);
          clip-path: circle(10px at 50% 50%);
  background-color: rgba(0, 255, 198, 0.6);
  position: absolute;
  z-index: 100;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  z-index: -1;
  animation: scal_anim 10s ease-out infinite;
  -webkit-animation: scal_anim 10s ease-out infinite;
}
section.section_anim .__tow {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(0, 255, 198, 0.6);
}
@-webkit-keyframes scal_anim {
  100% {
    opacity: 0;
    transform: scale(60);
    -webkit-transform: scale(60);
    -moz-transform: scale(60);
    -ms-transform: scale(60);
    -o-transform: scale(60);
  }
}
@keyframes scal_anim {
  100% {
    opacity: 0;
    transform: scale(60);
    -webkit-transform: scale(60);
    -moz-transform: scale(60);
    -ms-transform: scale(60);
    -o-transform: scale(60);
  }
}
section.section_anim .fetures .container .row .col-md-6 .main img {
  height: 200px;
}
section.section_anim .fetures .container .row .col-md-6 .main img:hover {
  cursor: url("./img/feture_1.png"), auto;
}
section.section_anim .fetures .container .row .col-md-6 .main p {
  display: block;
  margin: 0 auto;
  font-size: 14px;
}
@media (min-width: 320px) and (max-width: 767px) {
  section.section_anim .fetures .container .row .col-md-6 .main p {
    width: 70%;
  }
}
section.section_anim .about .container .row .col-lg-7 {
  text-align: center;
}
section.section_anim .about .container .row .col-lg-7 img {
  height: 550px;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  section.section_anim .about .container .row .col-lg-7 img {
    height: 300px;
  }
}
section.section_anim .about .container .row .col-lg-5 .main button a {
  text-decoration: none;
}

.shapTop {
  overflow: hidden;
  position: relative;
  min-height: 100px;
}
.shapTop::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw;
  background-size: 100% 66px;
  background-position: 50% 100%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="xMidYMin slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 73"><g fill="%2300ffc6"><path d="M2000 73V28l-10-6a37 37 0 00-30-2c-14 6-23 19-37 23-12 3-24-1-35-7l-30-20c-32-17-57 2-79 26-8 9-29 2-35 20-7-18-27-11-35-20-22-24-47-43-79-26l-31 20a57 57 0 01-34 7c-15-2-17-4-31-5-12-1-28 13-35 21-7-8-23-22-34-21-15 1-17 3-31 5a57 57 0 01-35-7l-31-20c-31-17-56 2-79 26-8 9-28 2-34 20-7-18-27-11-35-20-23-24-48-43-79-26l-31 20c-11 6-23 10-35 7-13-4-23-17-36-23a37 37 0 00-31 2l-8 5-8-5a37 37 0 00-30-2c-14 6-23 19-37 23-12 3-24-1-35-7l-30-20c-32-17-57 2-79 26-8 9-29 2-35 20-6-18-27-11-35-20-22-24-47-43-79-26l-31 20a57 57 0 01-34 7c-14-2-17-4-31-5-12-1-28 13-35 21-7-8-23-22-34-21-15 1-17 3-31 5a57 57 0 01-35-7l-30-20c-32-17-57 2-79 26-8 9-29 2-35 20-7-18-27-11-35-20-22-24-47-43-79-26l-31 20c-11 6-23 10-34 7-14-4-24-17-37-23a37 37 0 00-30 2L0 28v45z" opacity=".75"/><path d="M2000 73V43a106 106 0 00-19 3h-1c-12 3-25 8-36 1-7-5-11-13-17-19a20 20 0 00-5-4c-8-4-17-1-25 1-6 2-12 3-18 2a35 35 0 01-9-4l-5-3c-5-2-10-4-15-2-5 3-7 7-10 12a40 40 0 01-4 8c-7 7-18 9-28 8-7-1-15-3-22-2a34 34 0 00-8 1 30 30 0 00-16 11 30 30 0 00-16-11c-6-2-12-1-18-1l-12 2c-9 1-21-1-27-8l-7-13-7-7c-5-2-11 0-15 2l-12 6a22 22 0 01-3 1c-8 2-17-2-26-4-5-1-11-2-16 1-4 1-6 4-9 7-4 6-8 12-14 16-11 7-25 2-37-1l-8-2a109 109 0 00-24-1 109 109 0 00-33 3c-13 3-27 8-37 1-7-4-11-13-16-18a21 21 0 00-7-5c-7-3-15-1-23 1-6 2-13 4-19 2a31 31 0 01-8-3l-7-4c-4-2-10-4-15-2-4 2-7 7-9 11l-5 9c-6 7-18 9-28 8l-19-2a37 37 0 00-10 1 30 30 0 00-16 11 30 30 0 00-17-11c-5-2-10-2-16-1l-13 2c-10 1-21-1-28-8l-7-12c-1-3-3-6-7-8-5-2-10 0-15 2l-11 6a24 24 0 01-3 1c-8 2-17-1-25-3-6-2-12-3-18 0a24 24 0 00-8 7c-5 5-8 12-14 16-11 7-25 2-38-1l-6-2a108 108 0 00-27-1 109 109 0 00-30 2l-4 1c-12 3-26 8-37 1-6-4-10-11-15-17a23 23 0 00-7-6c-7-3-14-2-20 0-8 2-15 5-23 3a26 26 0 01-5-2l-9-5c-5-2-11-4-15-2s-6 5-8 9l-6 11c-7 7-18 9-28 8l-16-2a41 41 0 00-14 1 30 30 0 00-16 11 30 30 0 00-16-11 40 40 0 00-12-1l-18 2c-9 1-21-1-27-8-3-3-4-7-6-10-2-4-4-8-8-10-5-2-11 0-15 2l-8 5a28 28 0 01-7 2c-7 2-14-1-21-2s-14-4-21-1a22 22 0 00-8 6c-5 5-8 13-15 17-11 7-25 2-37-1l-2-1a110 110 0 00-28-2 110 110 0 00-29 2l-2 1c-12 3-26 8-37 1-7-4-10-12-15-18a22 22 0 00-8-5c-6-3-14-1-21 1s-14 4-21 2a29 29 0 01-7-3l-7-4c-5-2-11-4-16-2-4 2-6 6-8 10s-3 7-6 10c-6 7-17 9-27 8l-18-2a38 38 0 00-12 1 30 30 0 00-16 11 30 30 0 00-16-11 43 43 0 00-15-1l-15 2c-10 1-21-1-27-8l-7-11c-2-4-4-7-7-9-5-2-11 0-16 2l-9 5a25 25 0 01-5 2c-8 2-15-1-23-3-7-2-13-3-19 0a23 23 0 00-8 6c-5 6-9 13-15 17-11 7-25 2-37-1l-5-1a108 108 0 00-30-2v30z" opacity=".5"/><path d="M2000 73V59c-6 0-11-2-16-7a48 48 0 01-4-6 46 46 0 00-3-4c-3-3-6-6-10-5l-12 3c-4 0-6-4-8-8s-5-7-8-8c-4-1-8 2-12 4l-2 1a23 23 0 01-14 3 29 29 0 01-14-7l-3-2-12-15c-4 6-7 11-12 15-5 5-11 8-17 9a23 23 0 01-13-2v-1c-5-2-10-6-15-5-3 1-6 5-8 8s-4 7-8 8-8-3-11-3c-5-1-8 2-11 5l-1 2-6 8c-5 5-11 7-18 7a26 26 0 00-5 0 27 27 0 00-6 0c-6 0-13-2-17-7-3-2-4-5-6-8l-2-2c-2-3-6-6-10-5-4 0-7 3-11 3s-7-4-9-8-4-7-8-8a10 10 0 00-6 1l-8 4a23 23 0 01-13 3 29 29 0 01-13-6 38 38 0 01-4-3c-5-4-9-9-13-15-3 6-7 11-12 15-5 5-10 8-17 9a23 23 0 01-13-3c-5-2-9-6-14-5-4 1-6 5-8 8s-5 7-9 8-7-3-11-3c-4-1-8 2-10 5l-2 2c-2 3-3 6-6 8-4 5-11 7-17 7a26 26 0 00-6 0 27 27 0 00-5 0c-7 0-13-2-18-7a52 52 0 01-5-6l-2-4c-3-3-7-6-11-5-4 0-7 3-11 3s-6-4-9-8-4-7-8-8-8 2-12 5h-2a23 23 0 01-13 3 30 30 0 01-15-7l-2-2c-5-4-9-9-12-15-4 6-8 11-13 15v1c-5 4-10 7-17 8a23 23 0 01-13-3h-1c-4-2-8-6-13-5-4 1-6 5-8 8s-5 7-9 8-7-3-11-3c-4-1-8 2-10 5l-1 2-7 8c-4 5-11 7-17 7a26 26 0 00-6 0 27 27 0 00-5 0c-7 0-13-2-18-7l-6-8-1-2c-3-3-7-6-11-5-3 0-7 3-11 3s-6-4-8-8-5-7-8-8l-9 2-6 3a23 23 0 01-13 3 29 29 0 01-14-6 41 41 0 01-3-3c-5-4-8-9-12-15l-12 15-1 1c-4 4-10 7-16 8a23 23 0 01-10-1 22 22 0 01-4-2c-4-2-9-6-14-5-3 1-6 5-8 8s-5 7-8 8-8-3-11-3c-5-1-8 2-11 5l-2 2a70 70 0 01-5 8c-5 5-11 7-18 7a26 26 0 00-5 0 27 27 0 00-6 0c-7 0-13-2-18-7a62 62 0 01-5-7l-2-3c-2-3-6-6-10-5-4 0-8 3-11 3s-7-4-9-8-4-7-8-8c-5-1-10 3-14 5l-2 1a23 23 0 01-12 2 30 30 0 01-17-9L879 8a92 92 0 01-14 17 30 30 0 01-15 7 23 23 0 01-13-3l-4-2c-4-2-7-4-10-3-4 1-6 5-9 8s-4 7-8 8-7-3-11-3c-4-1-8 2-11 5l-1 2-6 8c-5 5-11 7-18 7a26 26 0 00-5 0 27 27 0 00-6 0c-6 0-13-2-17-7-3-2-4-5-6-8l-2-2c-2-3-6-6-10-5-4 0-7 3-11 3s-7-4-9-8-4-7-8-8-7 2-11 4l-3 1a23 23 0 01-13 3 30 30 0 01-16-7l-1-2c-5-4-9-9-13-15-3 6-7 11-12 15l-1 2c-5 3-10 6-16 7a23 23 0 01-13-2v-1c-5-2-9-6-14-5-4 1-6 5-8 8s-5 7-9 8-7-3-11-3c-4-1-8 2-11 5l-2 3a58 58 0 01-5 7c-4 5-11 7-17 7a26 26 0 00-6 0 27 27 0 00-5 0c-7 0-13-2-18-7a56 56 0 01-5-7l-2-3c-3-3-7-6-11-5-4 0-7 3-11 3s-7-4-9-8-4-7-8-8c-5-1-9 3-14 5a23 23 0 01-13 3 30 30 0 01-15-7l-2-2c-5-4-8-9-12-15l-12 15-2 1c-4 4-10 7-15 8a23 23 0 01-14-3l-2-1c-4-2-8-5-12-4s-6 5-8 8-5 7-9 8-7-3-11-3c-4-1-8 2-10 5l-1 2-6 8c-5 5-11 7-18 7a26 26 0 00-6 0 27 27 0 00-5 0c-7 0-13-2-18-7l-6-8-1-2c-3-3-6-6-10-5l-12 3c-4 0-6-4-8-8s-4-7-8-8-7 1-10 3l-4 2a23 23 0 01-14 3 29 29 0 01-14-7l-3-2-12-15c-4 6-7 11-12 15l-1 1c-5 4-10 7-16 8a23 23 0 01-11-2l-2-1c-5-2-10-6-15-5-3 1-6 5-8 8s-4 7-8 8-7-3-11-3c-4-1-8 2-11 5l-2 3a65 65 0 01-5 7c-5 5-11 7-18 7l-7 1v13z"/><circle cx="57.7" cy="13.1" r="8.1"/><circle cx="81.7" cy="8.3" r="4.9"/><circle cx="253.4" cy="24.8" r="12.9"/><circle cx="285.3" cy="17.8" r="6"/><circle cx="1257.5" cy="24.8" r="12.9"/><circle cx="1289.4" cy="17.8" r="6"/><circle cx="751.1" cy="24.8" r="12.9"/><circle cx="783.1" cy="17.8" r="6"/><circle cx="594.6" cy="9.6" r="6"/><circle cx="501.9" cy="22.7" r="10.9"/><circle cx="475.1" cy="16.8" r="5"/><circle cx="1089.2" cy="10.9" r="10.9"/><circle cx="1062.4" cy="5" r="5"/><circle cx="1715.4" cy="10.9" r="10.9"/><circle cx="1688.6" cy="5" r="5"/><circle cx="1496.2" cy="21.8" r="15.7"/><circle cx="1758.5" cy="29.2" r="11.4"/><circle cx="1901.9" cy="10.9" r="5.9"/><circle cx="1928.2" cy="10.9" r="8.5"/></g></svg>');
}
@media (min-width: 2100px) {
  .shapTop::before::before {
    background-size: 100% calc(2vw + 66px);
  }
}

.Achievements {
  background-color: #00FFC6;
  box-shadow: 0px -43px 39px inset #ffffff;
}
.Achievements .container .row {
  background-color: white;
  border: 2px dashed #00FFC6;
  border-radius: 20px;
}
.Achievements .container .row .col-md-6 .main {
  overflow: hidden;
}
.Achievements .container .row .col-md-6 .main h3 span.color {
  color: #ff5500;
  padding: 5px;
  background-color: #eee7e7;
  border-radius: 5px;
}
.Achievements .container .row .col-md-6 .main span.end {
  width: 70%;
}
.Achievements .container .row .col-md-6 .main .count .co {
  text-align: center !important;
}
.Achievements .container .row .col-md-6 .main .count .co h4 {
  font-weight: bolder;
  margin: 0;
}
.Achievements .container .row .col-md-6 .main .count .co h4, .Achievements .container .row .col-md-6 .main .count .co span {
  text-transform: uppercase !important;
}
.Achievements .container .row .col-md-6 .main .count .co span {
  font-size: 14px;
}
.Achievements .container .row .col-md-6 .main img {
  transition: all 2s ease-in-out;
  background-position: center;
}
.Achievements .container .row .col-md-6 .main img:hover {
  transform: scale(5);
  -webkit-transform: scale(5);
  -moz-transform: scale(5);
  -ms-transform: scale(5);
  -o-transform: scale(5);
  background-position: right;
}

.client {
  overflow: hidden;
}
.client .container .row .top_info img {
  height: 60px;
}
.client .container .row .main {
  border-radius: 20px;
  background-color: rgba(48, 170, 221, 0.5);
  height: 100%;
}
.client .container .row .main .top_info img {
  height: 60px;
}
.client .container .row .main .top_info .left__ h5 {
  font-weight: bold;
}
.client .container .row .main .top_info .left__ span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}
.client .container .row .main h4 {
  color: #ffffff;
}
.client .container .row .main p {
  color: rgba(255, 255, 255, 0.8);
}

.team .container .row .item:hover {
  cursor: url("./img/feture_2.png"), auto !important;
}
.team .container .row .item:hover img {
  border: 5px dashed #ff5500 !important;
}
.team .container .row .item .main {
  overflow: hidden;
}
.team .container .row .item .main img {
  width: 150px;
  border: 5px dashed transparent;
  transition: all 0.4s ease-in-out;
}
.team .container .row .item .main .right_info {
  text-align: left;
}
.team .container .row .item .main .right_info h4 {
  color: #00FFC6;
}
.team .container .row .item .main .right_info .rate i {
  color: #ff5500;
}
.team .owl-nav {
  display: none !important;
}

.how_we_do_it {
  position: relative;
  overflow: hidden;
  height: 500px;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 12% 93%, 1% 84%, 0 83%);
          clip-path: polygon(0 0, 100% 0, 100% 70%, 12% 93%, 1% 84%, 0 83%);
  background: url("../img/6.jpg");
  background-position: center;
  background-attachment: fixed;
  border-radius: 80px;
  border-top-left-radius: 0;
}
.how_we_do_it::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 170, 221, 0.8);
}
@media (max-width: 499px) {
  .how_we_do_it {
    -webkit-clip-path: none;
            clip-path: none;
    border-top-right-radius: 0;
  }
}
.how_we_do_it .container {
  position: relative;
  z-index: 2;
  padding: 100px 0;
}
.how_we_do_it .container h2, .how_we_do_it .container h3, .how_we_do_it .container span {
  color: #ffffff;
}
.how_we_do_it .container h2 span {
  display: inline-block;
}
footer {
  position: relative;
  margin-top: -150px;
  -webkit-clip-path: polygon(12% 13%, 100% 0, 100% 100%, 0 100%, 0 18%, 0 8%);
          clip-path: polygon(12% 13%, 100% 0, 100% 100%, 0 100%, 0 18%, 0 8%);
  background-image: url("../img/7.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
footer::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
}
@media (min-width: 500px) and (max-width: 991px) {
  footer {
    -webkit-clip-path: polygon(12% 9%, 100% 0, 100% 100%, 0 100%, 0 18%, 0 5%) !important;
            clip-path: polygon(12% 9%, 100% 0, 100% 100%, 0 100%, 0 18%, 0 5%) !important;
  }
}
@media (max-width: 499px) {
  footer {
    -webkit-clip-path: none;
            clip-path: none;
  }
}
footer .container {
  padding-top: 150px;
  position: relative;
}
@media (max-width: 499px) {
  footer .container {
    padding-top: 30px;
  }
}
footer .container .row .col-md-6 .main .info i {
  margin-right: 7px;
  color: #ff5500;
  font-size: 20px;
}
footer .container .row .col-md-6 .main .socail a {
  margin: 0 10px;
  color: #4867aa;
}
footer .container .row .col-md-6 .main .socail a i {
  font-size: 30px;
}
footer .container .row .col-md-6 .main .socail a:nth-of-type(2) {
  color: #1da1f2;
}
footer .container .row .col-md-6 .main .socail a:nth-of-type(3) {
  color: #1d2226;
}
footer .container .row .col-md-6 .main .socail a:nth-of-type(4) {
  color: #ea4335;
}
footer .container .row .col-md-6 .main iframe {
  width: 100%;
  min-height: 300px;
}
footer .container .row .col-md-6 h4 {
  margin-bottom: 20px;
}
footer .container .row .col-md-6 input, footer .container .row .col-md-6 textarea {
  margin-top: 10px;
  width: 100%;
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 6px;
}
footer .container .row .col-md-6 textarea {
  min-height: 200px;
  max-height: 250px;
}
footer .container .row .col-md-6 input[type=submit] {
  max-width: 120px;
  background-color: #ff5500;
  border: none;
  color: #ffffff;
}
footer .copy_right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(48, 170, 221, 0.8);
  min-height: 40px;
  line-height: 3;
}
footer .copy_right span, footer .copy_right a {
  color: #ffffff;
}
footer .copy_right a {
  text-decoration: none;
}

.scroll-to-top {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 200;
  background-color: transparent;
  text-decoration: none;
}
.scroll-to-top i {
  color: #ff5500;
  font-size: 60px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}/*# sourceMappingURL=style.css.map */